.navbar-brand {
    font-family: Viga;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.card, .card img {
    border-radius: 5%;
}
